# ===============================
# Database
# ===============================

MONGODB_URI=mongodb://localhost:27017/kb-dine-in


# ===============================
# Authentication
# ===============================

JWT_SECRET=your_super_secret_key_here


# ===============================
# App Configuration
# ===============================

NEXT_PUBLIC_APP_URL=http://localhost:3000